= form_for @transaction do |f|

  = f.fields_for :source, @transaction.source do |source|
    = source.label :email, 'From (email)'
    = source.email_field :email, placeholder: "From (email)"

  = f.label :amount
  = f.text_field :amount, placeholder: "Amount"

  = f.submit 'Receive'
