!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Grouplunch"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #header-spacer
    %header
      %h1= link_to "Group Lunch", root_url
    %hr
    %section
      // = link_to "Sign Out", destroy_user_session_path, :method => :delete
      = render 'layouts/messages'
      = yield
    %footer
